<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="base/base">
<head>
    <title>Sensor type delete</title>
</head>
<body>
<div layout:fragment="body">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Sensor type delete</h1>
                <div>
                    Are you sure you want to delete sensor type [<span th:text="${sensortype.name}"></span>] ?
                </div>
                <div>
                    <div class="row">
                        <hr/>
                    </div>
                    <form action="#" class="form-horizontal" th:action="@{/sensortype/{id}/delete(id=${sensortype.id})}" th:object="${sensortype}" method="post">
                        <div class="form-group">
                            <div class="col-sm-8">
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <a th:href="@{/sensortype/{id}(id=${sensortype.id})}" class="btn btn-default">Cancel</a>
                            </div>
                            <div class="col-sm-4 hidden-xs"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
